body {
    background-color: #3f3f3f;
    color: #333333;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.icon {
    width: 370px;
    position: sticky;
}

.flex-grow-1 {
    flex-grow: 1;
}

.form-control:focus {
    box-shadow: none;
    border-color: #333333;
}

.search-container {
    border-radius: 4px;
}

.clear-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.clear-button:hover {
    background-color: darkred; /* Darker shade on hover for feedback */
}

.earth-canvas {
    height: 100vh;
    width: 100vw;
    position: fixed !important;
    opacity: 0.5;
    top: 0;
    left: 0;
}
