body {
    background-color: #3f3f3f;
    color: #333333;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.icon {
    width: 370px;
    position: sticky;
}

.flex-grow-1 {
    flex-grow: 1;
}



