.weather-card {
    width: 240px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.weather-card-visible {
    opacity: 1;
    transform: translateY(0);
}

.weather-icon {
    font-size: 5em;
    padding: 20px;
}
.weather-icon.fa-sun {
    color: #f4c069;
}
.weather-icon.fa-cloud-rain {
    color: #89b8c2;
}
.weather-icon.fa-cloud {
    color: #c4c4c4;
}
.weather-icon.fa-snowflake {
    color: #a0d8e3;
}

.temp-highs {
    color: #ff6f61;
}

.temp-lows {
    color: #6a9bd1;
}
